<a href="https://colab.research.google.com/github/vvvaibhav1296/sql_data_warehouse_class/blob/main/Venkata_Vaibhav_Vankadara_HW5_MoviesTonight.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://github.com/christopherhuntley/BUAN6510/blob/master/img/Dolan.png?raw=true" width="180px" align="right">

# **DATA 6510**
# **Homework 5: MoviesTonight**
_A modest database design project_

## **Learning Objectives**
### **Theory / Be able to explain ...**
- What it means to denormalize data
- How associative entities relate to strong entities

### **Skills / Know how to ...**
- Draw an ERD given a database
- Use Lucidchard to create and export an ERD.
- Run queries on a novel dataset (with imperfectly named keys and columns)

In this assignment you will deconstruct an ancient web app, design a small database, trans the data in a spreadsheet doc, and answer a few questions.

---

## **1. Deconstruct a very old-school web app**

Movies Tonight was an ancient web app built as a tech demo in the days before broadband, CSS, web services, ReST APIs, JSON, and all the other technologies we now take for granted. It was designed to show what a rich user interface could look like once we had all of those things.

> For those who may be wondering ... Yes, your instructor built the app over a weekend before a Tuesday morning class. And yes, the visual design is truly hideous.

![Movies Tonight UI](https://github.com/christopherhuntley/DATA6510/raw/master/img/L5_Movies_Tonight_UI.png)

**Through some sort of Internet miracle, [the app still works](http://christopherhuntley.github.io/movies-tonight).** It provides information about every movie shown in Riverside, California, on Thanksgiving 1996. The code is ancient $–$ Javascript was just 2 years old at the time $–$ and won’t work in some modern browsers. It should work fine in Chrome and Firefox, however. Try it out to get a feel for the basic flow.

While the web design was only barely passable, there is a gem hidden in the source code: all the data in a compressed format and parser functions used to extract the data into usable data records (about movies, theaters, and shows). The idea was that the javascript would be generated by a webserver each time the page was loaded. Then the user would continue on without ever needing to refresh the page. Everything on the screen was *generated* in Javascript, which was a truly radical idea at the time but is how most web pages are designed today.
> **Note for web geeks:** [XMLHttpRequest](https://en.wikipedia.org/wiki/XMLHttpRequest) did not exist yet; that didn't happen until 2008. This is the truly old school way to do one page web apps.

![Movies Tonight Source](https://github.com/christopherhuntley/DATA6510/raw/master/img/L5_Movies_Tonight_Source.png)

### **Use "view source" in your browser to locate the javascript code shown above. Why is it so difficult?**

### **What does each of the functions in the left screenshot do?**



1.  parseMRecord call :Is creating "Movie " and "credits " arrays.
2.   parseTrecord : Is adding objects to the "Theaters"array
3.parseSrecord : Adding objects to "Shows"array.

### **What do the function calls in the right screenshot do?**

The function is populating the data structures with information about movies, theaters, and showtimes, possibly for display on a website or for use in a backend system to manage a movie listing service. Each call to parseMRecord, parseTRecord, and parseSRecord is processing the string data, organizing it into objects, and storing it in arrays for further use.

## **2. Database Design**

Draw an ERD for the data used in this app. You can use `record types` in the screenshots to get you started but ...
- You will need to create more than three Entity Types (tables).
- Each entity type must be fully normalized such that no fact is ever recorded more than once:
    - Each entity is recorded just once without any repeating (or plural) attributes. In other words, each movie title is recorded just once in the entire database.
    - No non-FK attribute appears in more than one entity type. The exception is that the same FK attributes can appear in multiple entity types.
- We should be able to add more attributes as we get more data. For example, we should be able to add things like actors' birthdays without adding any new tables or violating any of our data integrity / normalization rules.

Drawing an ERD is fairly simple. You'll be shown how to do that using [Lucidchart](https://lucidchart.com) in class.

Linking to your ERD here in Colab is not so easy. To keep things moving, just export your ERD from Lucidchart to a PDF or PNG document and submit it to Google Classroom separately.

**Your ERD should include two associative entities. How can you tell which ones they are?**

## **3. Data Extraction and Transformation**

We're going to use the data in a [denormalized](https://en.wikipedia.org/wiki/Denormalization) form, with everything in a single DATASET:

![Dataset.csv](https://github.com/christopherhuntley/DATA6510/raw/master/img/L5_Movies_Tonight_format3.png)

- Import [the data](https://raw.githubusercontent.com/christopherhuntley/DATA6510/master/data/MoviesTonight/DATASET.csv) into Excel or Google Sheets.
- In your spreadsheet doc, create one tab/sheet per entity type on your ERD. Name each tab/sheet to match the corresponding entity type. Each attribute on your ERD is a column in the corresponding tab/sheet.
- Populate each tab/sheet with data from (at least) the first 50 rows of the original DATASET. You may have to get creative with your ample spreadsheet skillz. Warning: Don't forget to populate the FK columns.

**Submit your spreadsheet in Google Classroom when you are done.**

## **4. Now for the real thing ...**

Run the cell below to download and connect to the MoviesTonight database.

In [1]:
%load_ext sql

!wget https://github.com/christopherhuntley/DATA6510/raw/master/data/MoviesTonight/MoviesTonight.db

%sql sqlite:///MoviesTonight.db

--2024-02-27 18:55:22--  https://github.com/christopherhuntley/DATA6510/raw/master/data/MoviesTonight/MoviesTonight.db
Resolving github.com (github.com)... 20.27.177.113
Connecting to github.com (github.com)|20.27.177.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/christopherhuntley/DATA6510/master/data/MoviesTonight/MoviesTonight.db [following]
--2024-02-27 18:55:22--  https://raw.githubusercontent.com/christopherhuntley/DATA6510/master/data/MoviesTonight/MoviesTonight.db
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 188416 (184K) [application/octet-stream]
Saving to: ‘MoviesTonight.db’

MoviesTonight.db    100%[===================>] 184.00K  --.-KB/s    in 0.08s

2024-02-27 18:55:23 (2.14 MB/s) - ‘MoviesTonight.db’ saved [188416/188416]

### **What movies were showing?**

In [4]:
%%sql
SELECT DISTINCT m.title
FROM movies m
JOIN shows s ON m.movieID = s.movieID;

 * sqlite:///MoviesTonight.db
Done.

[('Associate, The',),
 ('Ghost & The Darkness, The',),
 ('Independence Day',),
 ('D3: The Mighty Ducks',),
 ('Dear God',),
 ('First Wives Club, The',),
 ('High School High',),
 ('Larger Than Life',),
 ('Mirror Has Two Faces, The',),
 ('Ransom',),
 ('Sleepers',),
 ('Space Jam',),
 ("Stephen King's Thinner",),
 ('Michael Collins',),
 ('Romeo & Juliet',),
 ('Big Night',),
 ('Fly Away Home',),
 ('Nutty Professor, The',),
 ('Phenomenon',),
 ('Set It Off',),
 ('Surviving Picasso',),
 ('Very Brady Sequel, A',),
 ('That Thing You Do',)]

### **What kinds of categories (codes) were captured in the data?**

In [5]:
%%sql
SELECT DISTINCT credit_code
FROM credits;

 * sqlite:///MoviesTonight.db
Done.

[('A',), ('D',)]

### **What was the earliest show time?**

In [6]:
%%sql
SELECT MIN(showtime) AS earliest_showtime
FROM shows;

 * sqlite:///MoviesTonight.db
Done.

[('14:30',)]

### **What theaters are included in the dataset?**

In [7]:
%%sql
SELECT name, location
FROM theaters;

 * sqlite:///MoviesTonight.db
Done.

[('Akarakian Theatres Moreno 4 Cinemas', 'The Intersection Of Alessandro + Perris Blvds, Moreno Valley'),
 ('Cinema Star The Ultraplex 14', 'Mission Grove, Riverside'),
 ('General Cinema Rancho 6', ' I-215 At Mt. Vernon S. At I-10, San Bernardino'),
 ('Pacific Inland Center', ' Inland Center Mall, San Bernardino'),
 ('SOCAL Canyon Crest Cinema', 'Central Avenue South Of 60 Freeway Near Ucr, Riverside'),
 ('SOCAL Canyon Springs Cinema', 'East Of I-215 On 60 Freeway At Day Street Canyon, Moreno Valley'),
 ('SOCAL Marketplace Cinema', 'University/mission Inn Exits East Of 91 Freeway On, Riverside'),
 ('United Artists Riverside (Galleria) Tyler Mall', 'Riverside Fwy Tyler, Riverside'),
 ('United Artists Riverside Park Sierra', '3600 Park Sierra Dr., Riverside')]

### **In what movies did Eli Wallach appear?**##

In [8]:
%%sql
SELECT DISTINCT m.title
FROM movies m
JOIN credits c ON m.movieID = c.movieID
JOIN artists a ON c.artistID = a.artistID
WHERE a.name = 'Eli Wallach';

 * sqlite:///MoviesTonight.db
Done.

[('Associate, The',)]

### **Who were Eli Wallach's costars (note: actors only) in movies released in 1996? Be sure to include movie titles. (three tables, four joins with lots of aliases).**
Hint: you will need at least one `JOIN ... ON` to make this work.

In [11]:
%%sql
SELECT DISTINCT a2.name, m.title
FROM artists a1
JOIN credits c1 ON a1.artistID = c1.artistID
JOIN movies m ON c1.movieID = m.movieID
JOIN credits c2 ON m.movieID = c2.movieID
JOIN artists a2 ON c2.artistID = a2.artistID
WHERE a1.name = 'Eli Wallach' AND a2.name != 'Eli Wallach' AND c2.credit_code = 'ACT';

 * sqlite:///MoviesTonight.db
Done.

[]

### **Which artists were both actors and directors in movies released in 1996? (That's actor and director in the same movie.)**

In [12]:
%%sql
SELECT a.name, m.title
FROM artists a
JOIN credits c ON a.artistID = c.artistID
JOIN movies m ON c.movieID = m.movieID
WHERE c.credit_code IN ('ACT', 'DIR')
GROUP BY a.artistID, m.movieID
HAVING COUNT(DISTINCT c.credit_code) > 1;

 * sqlite:///MoviesTonight.db
Done.

[]

### **How many artists were there in the above query?**

In [13]:
%%sql
SELECT COUNT(DISTINCT a.artistID)
FROM artists a
JOIN credits c ON a.artistID = c.artistID
JOIN movies m ON c.movieID = m.movieID
WHERE c.credit_code IN ('ACT', 'DIR')
GROUP BY a.artistID, m.movieID
HAVING COUNT(DISTINCT c.credit_code) > 1;

 * sqlite:///MoviesTonight.db
Done.

[]

### **How many movie showings were after 9pm?**

In [10]:
%%sql
SELECT COUNT(*) AS late_showings
FROM shows
WHERE showtime > '21:00:00';

 * sqlite:///MoviesTonight.db
Done.

[(25,)]

---
## **On your way out ... Be sure to save your work**.
Save this notebook and turn it in on Google Classroom.
In Google Drive, drag this notebook file into your `DATA6510` folder so you can find it next time.